@font-face {
  font-family: 'Basis Grotesque';
  src:
    url('/fonts/BasisGrotesqueArabicPro-Light.woff2') format('woff2'),
    url('/fonts/BasisGrotesqueArabicPro-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Basis Grotesque';
  src:
    url('/fonts/BasisGrotesqueArabicPro-Regular.woff2') format('woff2'),
    url('/fonts/BasisGrotesqueArabicPro-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Basis Grotesque';
  src:
    url('/fonts/BasisGrotesqueArabicPro-Medium.woff2') format('woff2'),
    url('/fonts/BasisGrotesqueArabicPro-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Basis Grotesque';
  src:
    url('/fonts/BasisGrotesqueArabicPro-Bold.woff2') format('woff2'),
    url('/fonts/BasisGrotesqueArabicPro-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Basis Grotesque';
  src:
    url('/fonts/BasisGrotesqueArabicPro-Black.woff2') format('woff2'),
    url('/fonts/BasisGrotesqueArabicPro-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
