**/.git
**/.svn
**/.hg
**/node_modules
**/.nuxt/**
**/dist/**
**/dev/**
**/public/**
**/vendor/**
.github/**
.vercel/**
.husky/**
.nuxt/**
.vite
.output/**
dist/**
pnpm-lock.yaml
components.d.ts
nuxt.d.ts
